<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.razorpay.cordova"
        version="0.16.1">

  <name>RazorpayCheckout</name>
  <description>Razorpay's Plugin for Checkout</description>
  <author>Razorpay</author>
  <keywords>razorpay,payments,payment,gateway,checkout</keywords>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/RazorpayCheckout.js" target="js/RazorpayCheckout.js"/>

  <js-module src="www/RazorpayCheckout.js" name="RazorpayCheckout">
    <clobbers target="RazorpayCheckout" />
  </js-module>

  <!-- Android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Checkout">
        <param name="android-package" value="com.razorpay.cordova.Main"/>
      </feature>
    </config-file>
<!--      <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>-->
        <source-file src="src/android/Main.java" target-dir="src/com/razorpay/cordova/"/>
        <source-file src="src/android/CordovaTurbo.java" target-dir="src/com/razorpay/cordova/"/>
        <framework src="src/android/razorpay.gradle" custom="true" type="gradleReference" />
      <resource-file src="checkoutSDK/checkout-uat-mock.aar" target="libs/checkout-uat-mock.aar" />
  </platform>

  <!-- iOS -->
  <platform name="ios">
      <config-file target="config.xml" parent="/*">
          <feature name="Checkout">
              <param name="ios-package" value="Main" />
          </feature>
      </config-file>
      <dependency id="cordova-plugin-cocoapod-support"/>
      <pods-config ios-min-version="10.0" use-frameworks="true"/>
      <header-file src="src/ios/Main.h"/>
      <source-file src="src/ios/Main.m"/>
      <pod name="razorpay-pod"/>
      <framework src="CoreTelephony.framework" />
      <framework src="SystemConfiguration.framework" />
  </platform>

  <!-- Browser -->
  <platform name="browser">
    <config-file target="config.xml" parent="/*">
      <feature name="Checkout">
        <param name="browser-package" value="Checkout" />
      </feature>
    </config-file>
    <js-module src="src/browser/CheckoutProxy.js" name="CheckoutProxy">
      <runs />
    </js-module>
  </platform>
</plugin>
